@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akaya+Kanadaka&family=Roboto&display=swap');
body {
  background-color: #e0a890;
  border-style: dashed;
  margin: 0;
}

h1 {
  font-family: 'Akaya Kanadaka', cursive;
  color: #63372c;
  font-style: italic;
  font-size: 45px;
}

h4 {
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 25px;
}

ul,
ol {
  margin-top: 0;
}

.copyright {
  font-family: Arial;
  font-size: 9px;
  font-style: italic;
}

/** when window size changes **/



@media (orientation:landscape){
  width: calc(100vw/3);
    float: left;
}

/** Don't add px when adjusting line height **/

li {
  font-family: 'Caveat', cursive;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

/****** To make bold element a different color use this code ***/

b,
strong {
  color: red;
}

/**** adding image above recipe title ***//

img#brownies{
  
}